
.wrapper {
	background-color: #F5F5F5;
	padding: 40px;
	justify-content: center;
	display: grid;
}


.listing {
	
	padding: 10px;
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.intro {
	padding: 10px;
}

.listing img {
	
	border: solid white;
	border-radius: 5px;
	max-width: 350px;
}

.listing-wrapper {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	min-width: 370px;
	max-width: 370px;
}

.line-1 {
	padding: 10px 10px 0px 10px;
}

.time {
	padding-left: 10px;
	color: #9b9b9b;
	font-size: 12px;
}

.price {
	float: right;
	background-color: #7ED321;
	color: white;
	padding: 8px;
	border-radius: 100px;
	font-size: 12px;
	font-weight: bold;
}

.title {
	font-weight: bold;
	padding:0px 10px 0px 10px;
	margin-bottom: 1px;
}

.tagline {
	color: #9b9b9b;
	padding:0px 10px 0px 10px;
	margin-bottom: 0px;
	padding-bottom: 25px;
}

.info {
	color: #9b9b9b;
	margin-bottom: 0px;
}

.intro-info {
	padding-bottom: 10px;
	border-bottom: 4px solid #cfcfd1;
}

.listing-nav {
	padding: 0px 20px 0px 20px;
}

.listing-nav a {
	color: black !important;
	font-size: 13px;
	padding-right: 10px;
}

.header-img {
	width: 100%;
	height: auto;

}

.views {
	font-size: 11px;
	font-weight: bold;
}

.modal-image {
	width: 100%;
}

.modal-title {
	text-align: center;
	font-weight: bold;
}


.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 20px !important; 
    padding: 20px;
}

.beer-header {
	position: relative;
}

.tag {
	position: absolute;
	top: 15%;
	font-family: Helvetica;
	letter-spacing: -4px;
	font-weight: bold;
	font-size: 10vw;
	color: white;
	text-align: center;
}

.enter {
	position: absolute;
	left: 30%;
	top: 10%;
	font-family: Helvetica;
	letter-spacing: -4px;
	font-weight: bold;
	font-size: 120px;
	color: white;
}

.enter:hover {
	color: #cfcfd1;
	text-decoration: none;
}


.header img {
	z-index: -1;
	position: absolute;
	
}

.beer-image {
	height: 200px;
	padding: 0px 130px 0px 130px;
}



/* .icon{
	-moz-transform:scale(0.2);
    -webkit-transform:scale(0.2);
    transform:scale(0.2);
} */


/* Home Page Styles */

.block-1 {
	padding: 400px 50px 200px 50px;
}


.hp-img {
	width: 100%;
}

/*page transitions */

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}


.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}

/* @media only screen and (max-width: 600px) {
	.tag {
		font-size: 80px;
		top: 5%;
	}
}

@media only screen and (min-width: 1000px) {
	.tag {
		font-size: 120px;
		top: 30%;
	}
} */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.aTitle {
	font-family: Helvetica;
	letter-spacing: -3px;
	font-weight: bold;
	text-align: center;
}

.description {
	max-width: 500px;
	margin:0 auto;
	padding-top: 5%;
}

.subtitle {
	font-family: Helvetica;
	letter-spacing: 0px;
	font-weight: lighter;
	text-align: center;
}

.about {
	margin-top: 20px;
}

#error {
	text-align: center;
}

.voice {
	text-align: center;
	padding-top: 20px;
}

@media (pointer:coarse) { 
  .voice {
    display: none;
  }
}






